@use '../../../assets/uikit' as *;

.ticket-item{
    @include panel;

    padding: 1.66rem 2.08rem 1.66rem 1.66rem;

    &+.ticket-item{
        margin-top: 1.83rem;
    }

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;

        &_price{
            font-size: 2rem;
            font-weight: 600;
            padding-right: 1rem;
            color: var(--main-color);
        }

        &_logo{
            max-width: 9.91rem;
            max-height: 3.41rem;

            img{
                max-width: 100%;
                max-height: 100%;
            }

            &--shadowed{
                img{
                    filter: drop-shadow(0 0.16rem 0.66rem var(--grey-shadow-color));
                    transition: all .2s linear;
                }
            }

            a:hover{
                img{
                    filter: drop-shadow(0 0.16rem 0.66rem rgba(0 0 0 / 20%));
                    transform: translateY(-0.2rem);
                    transition: all .2s linear;
                }
            }
        }
    }
}