@use '../../assets/uikit' as *;

.filter{
    @include panel;
    
    padding-bottom: 0.83rem;

    &__title{
        margin: 0;
        padding: 1.16rem 1.66rem 0.66rem;
        font-size: 1.08rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.66rem;
    }
}

.filter-desctop{
    @include mobile {
        display: none;
    }
}

.filter-mobile{
    @include desktop {
        display: none;
    }

    &__button{
        position: absolute !important;
        top: 5rem;
        left: 2rem;
    }
}