@use '../../assets/uikit' as *;

.tickets{
    .show-more-button.button{
        display: block;
        margin-top: 1.66rem;
        width: 100%;
    }

    .no-data{
        @include panel;
        
        font-size: 1.08rem;
        padding: 1.66rem 2.08rem 1.66rem 1.66rem;
    }
}