@use 'assets/uikit' as *;

.main {
    display: flex;

    &__filter{
        @include desktop{
            width: calc(30% - 3.33rem);
            margin-right: 3.33rem;
        }
    }

    &__content{
        width: 100%;

        @include desktop{
            width: 70%;
        }
    }
}