.sort {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--grey-border-color);
    border-radius: 0.41rem;
    margin-bottom: 1.5rem;

    &__active_bg{
        position: absolute;
        top: 0;
        bottom: 0;
        transition: all .2s ease-in-out;
        z-index: -1;
        background-color: var(--main-color);
    }

    &__button{
        background: transparent;
        color: var(--grey-dark-color);
        transition: all .2s ease-in-out;
        border: none;
        display: flex;
        padding: 0;
        cursor: pointer;
        outline: none;

        &:hover{
            color: var(--grey-light-color);
        }

        &--active{
            color: var(--white-color) !important;
        }

        &_inner{
            flex-grow: 1;
            font-size: 1rem;
            padding: 1.25rem;
            letter-spacing: 0.5px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &+&{
            &::before{
                content: '';
                display: block;
                position: relative;
                z-index: -2;
                width: 1px;
                height: 100%;
                background-color: var(--grey-border-color);
            }
        }
    }
}

.sort-desctop{
    @media (width < 576px) {
        display: none;
    }
}

.sort-mobile{
    @media (width >= 576px) {
        display: none;
    }

    &__button{
        position: absolute !important;
        top: 5rem;
        right: 2rem;
    }
}